<%= stylesheet_link_tag "auth" %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="auth-register-container">
    <div class="auth-register">
        <div class="auth-register-message">
            <div class="message">
                <h2>WELCOME BACK TO BASECAMP!</h2>
                <br>
                <p>Created by: Abubakar Sadiq, Chima Ekeneme and Momoh Nobert.
            </div>
        </div>
        <div class="auth-register-form">
            <h3>INPUT YOUR DETAILS</h3>
            <%= render 'form', user: @user %>
        </div>
    </div>
</div>

