<%= stylesheet_link_tag "collaborators" %>
<div class="collaborator-container">

    <div class="collaborator-content-container">
        <div class="collaborator-new-container">
            <h1>New Collaborator</h1>
            <%= render 'form', collaborator: @collaborator %>
        </div>
        <div class="collaborator-detail-container">
            <%= render 'index', collaborators: @collaborators %>
        </div>
    </div>
    <%= link_to 'Back', projects_path %>
</div>