<nav id="navbar" class="header-main">
    <div class="header-main-container"> 
        <div class="header-main-logo">
            <h1>BASECAMP</h1>
        </div>
        <div class="header-main-links">
            <span>Projects</span>
            <span>Users</span>
            <%= link_to  "login" do %>
                <span>Register | Login</span>
            <% end %>
        </div>   
    </div>
</nav>