<%= stylesheet_link_tag "project" %>
<div class="projects-container">

<div class="project-form-container">
<h1>Editing Project</h1>

<div>
<%= render 'form', project: @project %>
</div>
<div>
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
</div>
</div>
</div>
