<h1>Editing Project Thread</h1>

<%= render "form", project_thread: @project_thread %>

<%= link_to "Show", @project_thread %> |
<%= link_to "Back", get_project_thread_url(@project_thread.project.id) %>
