// Place all the styles related to the collaborators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.collaborator-container {
    min-height: 75vh;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 10vh;    
}

.collaborator-content-container {
    margin-top: 2.5%;
    position: relative;
    width: 90%;
    min-height: 55vh;
    display: flex;
    justify-content: space-between; 
    border: 1px solid red;  
}

.collaborator-new-container {
    width: 55%;
    height: 90%;
    border: 1px solid red;
}

.collaborator-detail-container {
    width: 40%;
    height: 90%;
    border: 1px solid red;
}
